@import '@/src/app/vars.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Lato';
  src: url('../../public/fonts/Lato-Regular.ttf');
}

html,
body {
  box-sizing: border-box;
  font-family: 'Lato';
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 100vw;
  background-color: $main-color;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
