//colors
$main-color: white;
$text-color-first: #6F7179; 
$grey-color-first: #F4F5F6;
$grey-color-second: #E5E8ED;
$grey-color-third: #787A80;
$grey-color-fourth: #1E212C;
$grey-color-fifth: #424551;
$grey-color-six: #D7DADD;
$green-color-first: #17696A;
$green-color-third: #2a8385;
$green-color-second: #03CEA4;
$red-color-first: #FF4242;
//font-size

$h1-size: 46px;
$h2-size: 32px;
$p1-size: 20px;
$p2-size: 18px;
$p3-size: 16px;
$p4-size: 14px;